body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

canvas {
    position:absolute;
    border: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    cursor: url('../assets/cursor-icon.png'), auto;
}

#canvas1{
    /* set background to canvas */
    background-image: url('../assets/desert-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#collisionCanvas {
    opacity: 0;
}

img {
    display:none;
}

div.start {
    padding-top: 20px;
    text-align: center;
}

div.start button.playBtn {
    font-size: 40px;
}

button.playBtn:hover {
    cursor: pointer;
}
